.fork-subscription-pricing {
  background: url("../img/Layer 2@1X.png") center;
  text-align: center; }
  .fork-subscription-pricing .fork-subscription-pricing-heading {
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 78px; }
  .fork-subscription-pricing .fork-subscription-pricing-cards {
    display: flex;
    justify-content: center;
    margin-top: 122px;
    padding-bottom: 132px; }
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part,
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part {
      display: flex;
      justify-content: center; }
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card,
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card {
        width: 100%;
        height: 457px;
        margin-left: 13px;
        margin-right: 13px; }
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-title,
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-title {
          width: 100%;
          height: 97px;
          background-color: rgba(162, 145, 165, 0.5); }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-title span,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-title span {
            display: inline-block;
            font-size: 25px;
            font-family: AdobeInvisFont, Montserrat-Regular, sans-serif;
            color: #FFFFFF;
            margin-top: 38px; }
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body,
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body {
          width: 100%;
          height: 360px;
          background-color: rgba(162, 145, 165, 0.2); }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc {
            padding-top: 22px; }
            .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-symbol,
            .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-number,
            .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-symbol,
            .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-number {
              font-size: 62px;
              color: #FFFFFF; }
            .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-number,
            .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-number {
              font-weight: bold; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-for-a-date,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-for-a-date {
            margin-top: 7px;
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.30196078431372547; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-violet-line,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-violet-line {
            margin-top: 20px; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-whom-for,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-whom-for {
            margin-top: 31px;
            font-size: 16px;
            color: #FFFFFF; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase {
            width: 161px;
            height: 43px;
            background-color: rgba(255, 255, 255, 0.14902);
            color: #FFFFFF;
            border-radius: 21px;
            margin-left: 48px;
            margin-right: 48px; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-1,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-1 {
            margin-top: 73px; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-2,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-3,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-2,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-3 {
            margin-top: 55px; }
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-4,
          .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .button-4 {
            margin-top: 54px; }
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover {
      margin-top: -50px;
      margin-left: 0;
      margin-right: 0; }
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover .fork-subscription-pricing-cards-card-title {
        height: 111px;
        background-color: rgba(0, 0, 0, 0.2); }
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover .fork-subscription-pricing-cards-card-body {
        height: 449px;
        background-color: rgba(0, 0, 0, 0.1); }
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-symbol,
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-desc .fork-subscription-pricing-cards-card-desc-number {
          font-size: 82px; }
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase {
          width: 190px;
          height: 52px;
          border-radius: 100px;
          margin-top: 82px;
          background: rgba(255, 255, 255, 0.7);
          color: #7F6D78;
          font-weight: bolder; }
        .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-card:hover .fork-subscription-pricing-cards-card-body .button-1 {
          margin-top: 105px; }

@media screen and (min-width: 481px) and (max-width: 992px) {
  .fork-subscription-pricing .fork-subscription-pricing-cards {
    display: block; }
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card,
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card {
      width: 257px; }
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part {
      margin-top: 92px; } }

@media screen and (min-width: 481px) and (max-width: 1440px) {
  .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase,
  .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase {
    margin-left: 30px;
    margin-right: 30px; } }

@media screen and (min-width: 481px) and (max-width: 500px) {
  .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase,
  .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card .fork-subscription-pricing-cards-card-body .fork-subscription-pricing-cards-card-purchase {
    margin-left: 25px;
    margin-right: 25px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .fork-subscription-pricing .fork-subscription-pricing-cards {
    flex-direction: column; }
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part,
    .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part {
      flex-direction: column;
      margin: auto 21% auto auto; }
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card,
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card {
        margin-top: 14px; }
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-first-part .fork-subscription-pricing-cards-card:hover,
      .fork-subscription-pricing .fork-subscription-pricing-cards .fork-subscription-pricing-cards-second-part .fork-subscription-pricing-cards-card:hover {
        margin-bottom: 100px; } }
