header {
  height: 100px;
  background-color: #27262A;
  display: flex;
  justify-content: center; }
  header .logotype {
    display: flex;
    height: 41px;
    margin-left: 60px; }
    header .logotype .logotype-img-hover {
      display: none; }
    header .logotype .logotype-txt {
      color: #8D81AC;
      font-size: 24px;
      margin-top: 8px;
      margin-left: 7px; }
  header .navbar {
    width: 100%;
    margin-top: 41px; }
    header .navbar a {
      display: flex;
      justify-content: center; }
      header .navbar a .navbar-link {
        color: #8D81AC;
        font-size: 16px;
        font-weight: bold;
        margin-left: 43px; }
      header .navbar a .navbar-link:hover {
        color: #FFFFFF; }
      header .navbar a #navbar-link-overview {
        margin-left: 0; }
  header .fa-bars {
    font-size: 26px;
    color: #E5E3E3;
    display: none; }
  header .buy-now {
    min-width: 145px;
    height: 38px;
    background-color: #8D81AC;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 19px;
    margin-right: 60px; }
  header .buy-now:hover {
    background-color: #FFFFFF;
    color: #8D81AC;
    border: 2px #8D81AC solid; }
  header .logotype, header .buy-now {
    margin-top: 30px; }

.fork-app {
  height: 700px;
  background: url("../img/img@1X.png") center; }
  .fork-app .fork-app-drop-down-menu {
    background-color: #333333;
    margin: auto 15px;
    display: none; }
    .fork-app .fork-app-drop-down-menu .fork-app-drop-down-menu-item {
      height: 92px;
      border-bottom: 1px #3B3B3B solid; }
      .fork-app .fork-app-drop-down-menu .fork-app-drop-down-menu-item a {
        font-size: 19px;
        color: #FFFFFF;
        display: inline-block;
        margin-top: 35px;
        margin-left: 33px; }
    .fork-app .fork-app-drop-down-menu .fork-app-drop-down-menu-item:hover {
      border-left: 8px #8D81AC solid; }
      .fork-app .fork-app-drop-down-menu .fork-app-drop-down-menu-item:hover a {
        color: #8D81AC; }
  .fork-app .fork-app-headings {
    text-align: center;
    padding-top: 60px; }
    .fork-app .fork-app-headings .fork-app-main-title {
      font-size: 60px;
      color: #FFFFFF;
      font-weight: bold; }
    .fork-app .fork-app-headings .fork-app-a-real-game {
      font-size: 22px;
      color: #8D81AC;
      display: inline-block;
      margin-top: 14px;
      margin-bottom: 14px; }
    .fork-app .fork-app-headings .fork-app-versions {
      font-size: 12px;
      color: #848E97; }
  .fork-app .download-for-free-now {
    text-align: center;
    margin-top: 465px; }
    .fork-app .download-for-free-now .download-for-free-now-btn {
      width: 390px;
      height: 62px;
      background-color: #8D81AC;
      color: #FFFFFF;
      font-weight: bold;
      border-radius: 31px;
      font-size: 21px; }
    .fork-app .download-for-free-now .download-for-free-now-btn:hover {
      background-color: #FFFFFF;
      color: #8D81AC;
      border: 2px #8D81AC solid; }
    .fork-app .download-for-free-now .download-for-free-now-limit {
      font-size: 14px;
      color: #848E97;
      display: inline-block;
      margin-top: 19px; }

@media screen and (min-width: 481px) and (max-width: 992px) {
  header {
    height: 118px; }
    header .logotype, header .buy-now {
      margin-top: 22px; }
    header .logotype {
      margin-right: 52%; }
    header .navbar {
      margin-top: 84px;
      position: absolute; }
  .fork-app .fork-app-headings {
    padding-top: 50px; } }

@media screen and (min-width: 481px) and (max-width: 640px) {
  header .logotype {
    margin-right: 34%; }
  header .navbar a .navbar-link {
    margin-left: 30px; } }

@media screen and (min-width: 481px) and (max-width: 538px) {
  .fork-app .download-for-free-now {
    margin-top: 439px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  header .logotype-txt,
  header .navbar {
    display: none; }
  header .buy-now {
    margin-left: 70px;
    margin-right: 70px; }
  header .fa-bars {
    display: block;
    margin-right: 60px;
    margin-top: 37px; }
  .fork-app .download-for-free-now {
    margin-top: 440px; } }

@media screen and (min-width: 320px) and (max-width: 400px) {
  header .buy-now {
    margin-left: 50px;
    margin-right: 50px; } }

@media screen and (min-width: 320px) and (max-width: 352px) {
  header .buy-now {
    margin-left: 30px;
    margin-right: 30px; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .fork-app .fork-app-headings {
    padding-top: 43px; }
  .fork-app .download-for-free-now {
    margin-top: 466px;
    margin-left: 20px;
    margin-right: 20px; }
    .fork-app .download-for-free-now .download-for-free-now-btn {
      text-align: center;
      width: 100%;
      height: 44px; } }
