.people-are-talking-about-fork {
  background-image: url("../img/testmonials-bg@1X.png");
  text-align: center;
  background-size: cover; }
  .people-are-talking-about-fork .people-are-talking-about-fork-heading {
    font-size: 35px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 98px; }
  .people-are-talking-about-fork .people-are-talking-about-fork-content {
    margin-top: 98px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row {
      display: flex;
      justify-content: center; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row .people-are-talking-about-fork-content-row-card .people-are-talking-about-fork-content-row-card-txt {
        width: 315px;
        margin-top: 30px;
        font-size: 16px;
        color: #FFFFFF; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-1 {
        margin-top: 5px; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-3 {
        margin-top: -15px; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-2,
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 {
        padding-right: 50px;
        padding-left: 50px; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 {
        margin-top: 8px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row-2 {
      margin-top: 112px; }
  .people-are-talking-about-fork .people-are-talking-about-fork-down-description {
    width: 933px;
    display: inline-block;
    margin: 118px auto auto;
    font-size: 14px;
    color: #A291A5;
    opacity: 0.8; }
    .people-are-talking-about-fork .people-are-talking-about-fork-down-description img {
      width: 780px; }

@media screen and (min-width: 481px) and (max-width: 992px) {
  .people-are-talking-about-fork .people-are-talking-about-fork-content {
    display: flex;
    justify-content: center; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row {
      display: block;
      margin-top: 0; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row .people-are-talking-about-fork-content-row-card {
        margin-top: 54px; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-2,
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 {
        padding-right: 0;
        padding-left: 0; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-3 {
        margin-top: 54px; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-4 {
        margin-top: 13px; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5,
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-6 {
        margin-top: 69px; }
        .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 .people-are-talking-about-fork-content-row-card-txt,
        .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-6 .people-are-talking-about-fork-content-row-card-txt {
          margin-top: 42px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row-1 {
      margin-left: 48px;
      margin-right: 18px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row-2 {
      margin-left: 18px;
      margin-right: 48px; } }

@media screen and (min-width: 481px) and (max-width: 700px) {
  .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row .people-are-talking-about-fork-content-row-card .people-are-talking-about-fork-content-row-card-txt {
    width: 100%; } }

@media screen and (min-width: 481px) and (max-width: 571px) {
  .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 {
    margin-top: 84px; }
  .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-6 {
    margin-top: 92px; } }

@media screen and (min-width: 481px) and (max-width: 546px) {
  .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 {
    margin-top: 102px; }
  .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-6 {
    margin-top: 108px; } }

@media screen and (min-width: 320px) and (max-width: 922px) {
  .people-are-talking-about-fork .people-are-talking-about-fork-down-description {
    width: 100%; }
    .people-are-talking-about-fork .people-are-talking-about-fork-down-description .people-are-talking-about-fork-down-description-txt {
      margin-left: 20px;
      margin-right: 20px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-down-description img {
      width: 80%; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .people-are-talking-about-fork .people-are-talking-about-fork-content {
    display: block;
    margin: auto; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row {
      display: block; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row .people-are-talking-about-fork-content-row-card {
        margin-top: 46px;
        padding-left: 38px;
        padding-right: 38px; }
        .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row .people-are-talking-about-fork-content-row-card .people-are-talking-about-fork-content-row-card-txt {
          width: 100%; }
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-3,
      .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row #card-5 {
        margin-top: 46px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row-1 {
      margin-top: 49px; }
    .people-are-talking-about-fork .people-are-talking-about-fork-content .people-are-talking-about-fork-content-row-2 {
      margin-top: 0; } }
