.fork-subscription-pricing {
  background: url("../img/Layer 2@1X.png") center;
  text-align: center;

  .fork-subscription-pricing-heading {
    font-size: 35px;
    font-weight: bold;
    color: $white;
    padding-top: 78px;
  }

  .fork-subscription-pricing-cards {
    display: flex;
    justify-content: center;
    margin-top: 122px;
    padding-bottom: 132px;

    .fork-subscription-pricing-cards-first-part,
    .fork-subscription-pricing-cards-second-part{
      display: flex;
      justify-content: center;
      .fork-subscription-pricing-cards-card {
      width: 100%;
      height: 457px;
      margin-left: 13px;
      margin-right: 13px;

      .fork-subscription-pricing-cards-card-title {
        width: 100%;
        height: 97px;
        background-color: rgba(#A291A5, 0.5);

        span {
          display: inline-block;
          font-size: 25px;
          font-family: AdobeInvisFont, Montserrat-Regular, sans-serif;
          color: $white;
          margin-top: 38px;
        }
      }

      .fork-subscription-pricing-cards-card-body {
        width: 100%;
        height: 360px;
        background-color: rgba(#A291A5, 0.2);

        .fork-subscription-pricing-cards-card-desc {
          padding-top: 22px;

          .fork-subscription-pricing-cards-card-desc-symbol,
          .fork-subscription-pricing-cards-card-desc-number {
            font-size: 62px;
            color: $white;
          }

          .fork-subscription-pricing-cards-card-desc-number {
            font-weight: bold;
          }
        }

        .fork-subscription-pricing-cards-card-for-a-date {
          margin-top: 7px;
          font-size: 14px;
          color: $white;
          opacity: 0.30196078431372547;
        }

        .fork-subscription-pricing-cards-card-violet-line {
          margin-top: 20px;
        }

        .fork-subscription-pricing-cards-card-whom-for {
          margin-top: 31px;
          font-size: 16px;
          color: $white;
        }

        .fork-subscription-pricing-cards-card-purchase {
          width: 161px;
          height: 43px;
          background-color: rgba($white, 0.14901960784313725);
          color: $white;
          border-radius: 21px;
          margin-left: 48px;
          margin-right: 48px;
        }

        .button-1 {
          margin-top: 73px;
        }
        .button-2,
        .button-3 {
          margin-top: 55px;
        }
        .button-4 {
          margin-top: 54px;
        }
      }
    }
  }

    .fork-subscription-pricing-cards-card:hover {
      margin-top: -50px;
      margin-left: 0;
      margin-right: 0;

      .fork-subscription-pricing-cards-card-title {
        height: 111px;
        background-color: rgba(black, 0.2);
      }

      .fork-subscription-pricing-cards-card-body {
        height: 449px;
        background-color: rgba(black, 0.1);

        .fork-subscription-pricing-cards-card-desc {

          .fork-subscription-pricing-cards-card-desc-symbol,
          .fork-subscription-pricing-cards-card-desc-number {
            font-size: 82px;
          }
        }

        .fork-subscription-pricing-cards-card-purchase {
          width: 190px;
          height: 52px;
          border-radius: 100px;
          margin-top: 82px;
          background: rgba($white, 0.7);
          color: #7F6D78;
          font-weight: bolder;
        }

        .button-1 {
          margin-top: 105px;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px){
  .fork-subscription-pricing {
    .fork-subscription-pricing-cards {
      display: block;
      .fork-subscription-pricing-cards-first-part,
      .fork-subscription-pricing-cards-second-part {
        .fork-subscription-pricing-cards-card {
          width: 257px;
        }
      }
      .fork-subscription-pricing-cards-second-part{
        margin-top: 92px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 1440px) {
  .fork-subscription-pricing {
    .fork-subscription-pricing-cards {
      .fork-subscription-pricing-cards-first-part,
      .fork-subscription-pricing-cards-second-part {
        .fork-subscription-pricing-cards-card {
          .fork-subscription-pricing-cards-card-body {
            .fork-subscription-pricing-cards-card-purchase {
              margin-left: 30px;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 500px) {
  .fork-subscription-pricing {
    .fork-subscription-pricing-cards {
      .fork-subscription-pricing-cards-first-part,
      .fork-subscription-pricing-cards-second-part {
        .fork-subscription-pricing-cards-card {
          .fork-subscription-pricing-cards-card-body {
            .fork-subscription-pricing-cards-card-purchase {
              margin-left: 25px;
              margin-right: 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .fork-subscription-pricing {
    .fork-subscription-pricing-cards {
      flex-direction: column;
      .fork-subscription-pricing-cards-first-part,
      .fork-subscription-pricing-cards-second-part {
        flex-direction: column;
        margin: auto 21% auto auto;
        .fork-subscription-pricing-cards-card {
          margin-top: 14px;
        }
        .fork-subscription-pricing-cards-card:hover {
          margin-bottom: 100px;
        }
      }
    }
  }
}